table,th,td{
    text-align: center;
    margin: auto;
    width: 1500px ;
    border: 0.5px;
    border-style: solid;
    margin-top: 10px;
    color:black;
    
}

tbody{
  background-color: blanchedalmond;
}

thead{
  background-color:gainsboro;
}

.add_tools_form{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  color: black;
  margin-left: 10px;
  width: 1500px;
}

.add_tools_form label {
  margin-bottom: 5px; 
}

.add_tools_form input {
  width: 300px;
}

.add_tool_card{
  display:flow-root;
  height: 550px;
  width: 450px;
  background-color: #f9f9f9;
  margin:auto;
  padding: 40px;
  color: black;
  margin-top: 10px;
  align-items: center;
}

.add_tool_card:hover {
  transform: scale(1.02);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

#new_tool_image{
  height: 350px;
  width: 350px;
  border: 10px black;
  margin: auto;
  display: block;
}

#new_tool_title{
  text-align: center;
  
}




.tools_form{
  max-width: 1470px; 
  margin: 0 auto; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  color: black;
}

.records_form{
  display:inline-flex;
  border: 1px solid #ddd;
  border-radius: 5px; 
  background-color: #f9f9f9; 
  height: 50px;
  padding: 10px;
  width: 1500px;
  gap: 10px;
  margin-left: 10px;
}

input{
    width: 270px;
    height:30px;
    margin: 5px;
    border-radius: 15px;
    font-size: 15px;
}

div.fields{
  display: flex; 
  gap: 15px;
}

button{
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-top: 2px;
}

label{
    margin: 10px;
    color: black;

}

.link{
  color: navajowhite;
  margin-right: 20px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
}

.search{
  margin-left: 1150px;
  margin-top: 15px;
  border-radius: 15px;
  width:350px;
  text-align: center;
  font-size: 15px;
}

